---

- name: Debian | openntpd install
  ansible.builtin.apt:
    name: openntpd
    state: present
  register: pkg_result
  until: pkg_result is success

- name: Configure openntpd default
  ansible.builtin.replace:
    dest: /etc/default/openntpd
    regexp: '^DAEMON_OPTS="(.*)"'
    replace: 'DAEMON_OPTS="-f /etc/openntpd/ntpd.conf {{ ntpclient_openntpd_opts }}"'
    mode: '0644'
    backup: yes
  notify:
    - Restart openntpd

- name: Import debian-apparmor
  ansible.builtin.import_tasks: debian-apparmor.yml
  when:
    - (ansible_facts['distribution'] == 'Debian' and ansible_facts['distribution_major_version'] | int >= 13)
    - ntpclient_ntpd_apparmor4_workaround | bool

- name: Configure openntpd
  ansible.builtin.template:
    src: ntpd.conf
    dest: /etc/openntpd/ntpd.conf
    mode: '0644'
    backup: yes
    # validate: 'openntpd -f %s -n'
  notify:
    - Restart openntpd
