---

- name: Include distribution specific variables
  ansible.builtin.include_vars: "{{ ansible_os_family }}.yml"
- name: Include version-specific variables for RedHat
  ansible.builtin.include_vars: "RedHat-{{ ansible_distribution_major_version }}.yml"
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version == '8'

- name: Import debian
  ansible.builtin.import_tasks: debian.yml
  when:
    - ansible_os_family == "Debian"
    - ntpclient_tool == 'openntpd'
- name: Import redhat
  ansible.builtin.import_tasks: redhat.yml
  when:
    - ansible_os_family == "RedHat"
    - ntpclient_tool == 'ntpd'

- name: Import timesyncd
  ansible.builtin.import_tasks: timesyncd.yml
  when:
    - ntpclient_tool == 'timesyncd'

- name: Warning
  ansible.builtin.debug:
    msg: "Warning! ntpclient in a container will not work/execute (adjtime not permitted)"
  when: >
    (ansible_virtualization_type is defined and
      (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker")
    )
