---

- name: Include distribution specific variables
  ansible.builtin.include_vars: "{{ ansible_facts['os_family'] }}.yml"
- name: Include version-specific variables for RedHat
  ansible.builtin.include_vars: "RedHat-{{ ansible_facts['distribution_major_version'] }}.yml"
  when: ansible_facts['os_family'] == "RedHat" and ansible_facts['distribution_major_version'] == '8'

- name: Import debian
  ansible.builtin.import_tasks: debian.yml
  when:
    - ansible_facts['os_family'] == "Debian"
    - ntpclient_tool == 'openntpd'
- name: Import redhat
  ansible.builtin.import_tasks: redhat.yml
  when:
    - ansible_facts['os_family'] == "RedHat"
    - ntpclient_tool == 'ntpd'

- name: Import timesyncd
  ansible.builtin.import_tasks: timesyncd.yml
  when:
    - ntpclient_tool == 'timesyncd'

- name: Warning
  ansible.builtin.debug:
    msg: "Warning! ntpclient in a container will not work/execute (adjtime not permitted)"
  when: >
    (ansible_facts['virtualization_type'] is defined and
      (ansible_facts['virtualization_type'] == "lxc" or ansible_facts['virtualization_type'] == "docker")
    )
