---

- name: Ensure timesyncd is present
  ansible.builtin.package:
    name: systemd-timesyncd
    state: present

- name: Configure timesyncd
  community.general.ini_file:
    path: /etc/systemd/timesyncd.conf
    section: Time
    option: NTP
    value: "{{ ntpclient_servers | join(' ') }}"
    mode: '0644'
    backup: true
  notify:
    - Restart timesyncd
    - Enable timesyncd set-ntp
