---

- name: Restart openntpd
  ansible.builtin.service:
    name: openntpd
    state: restarted
  when: >
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker")
        )

- name: Restart ntp
  ansible.builtin.service:
    name: ntpd
    state: restarted
  when: >
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker")
        )

- name: Restart chronyd
  ansible.builtin.service:
    name: chronyd
    state: restarted
  when: >
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker")
        )

- name: Restart timesyncd
  ansible.builtin.service:
    name: timesyncd
    state: restarted
  when: >
    not (ansible_virtualization_type is defined and
          (ansible_virtualization_type == "lxc" or ansible_virtualization_type == "docker")
        )

- name: Enable timesyncd set-ntp
  ansible.builtin.command:
    cmd: timedatectl set-ntp true
